<p> Your account is locked. Please enter the PIN that was sent to your phone </p>
<div class='well'>
  <%= form_tag '/pin' do %>
  <div class='control-group'>
    <%= label_tag :pin, "Pin Number" %>
    <%= text_field_tag :pin, params[:pin] || '' %>
  </div>
  <%= submit_tag "Unlock your account", class: 'btn btn-success' %>
  <% end %>
</div>
